@font-face {
    font-family: "MedievalSharp";
    src: url("/assets/fonts/MedievalSharp-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "UncialAntiqua";
    src: url("/assets/fonts/UncialAntiqua-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Jacquard12";
    src: url("/assets/fonts/Jacquard12-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "System Standard";
    src: local("system-ui"); /* System Standard Schriftart */
}

/* FontSwitcher Klassen */
.font-medieval {
    font-family: "MedievalSharp", sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.font-uncial {
    font-family: "UncialAntiqua", sans-serif;
    font-size: inherit;
    line-height: inherit;
}

.font-jacquard {
    font-family: "Jacquard12", sans-serif;
    font-size: inherit;
    line-height: inherit;
}

/* SystemFont */
.font-system {
    font-family: "System Standard", sans-serif;
    font-size: inherit;
    line-height: inherit;
}